/* ----------------------------------------------------------- */
/* MAIN BODY */
/* ----------------------------------------------------------- */
body {
	font-family: 'Helvetica';
	color: white;
	margin: 0px;
	/* background: linear-gradient(0.6turn, grey, white); */
	background: #1c1c1c;
}

#wrapper {
	background: rgba(58, 58, 58, 0.75);
	border-top: white 5px solid;
	border-bottom: white 5px solid;
	box-shadow: rgba(0,0,0,0.3) 0px 5px 10px inset;
}


/* ----------------------------------------------------------- */
/* KEYPAD */
/* ----------------------------------------------------------- */
.keyPad {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows:    repeat(4,25%);
	width: 100%;
}

.keyPad button {
	color: white;
	-webkit-appearance: none;
	background: #353434;
	border: 1px solid #1f1f1f
}

.keyPad button {
	border-top: none;
}

.keyPad button:nth-child(4n + 1),
.keyPad button:nth-child(4n + 2),
.keyPad button:nth-child(4n + 3) {
	border-right: none;
}

.keyPad button.pressed {
	background:rgb(92, 91, 91);
}

/* ----------------------------------------------------------- */
/* KEYPAD & CHIP8 &  MEMORY */
/* ----------------------------------------------------------- */
#mainContainer {
	display: flex;
	/* flex-wrap: wrap; */

}

/* ----------------------------------------------------------- */
/* REGISTER TABLE(S) */
/* ----------------------------------------------------------- */
#registers {
	background: #353434;
}
table {
	width: 100%;

	align-self: stretch;

	border-collapse: collapse;

	padding: 1px;
}
th {
	border: 1px solid #1f1f1f;
	text-align: center;
	color: white;
	padding: 10px;
}


/* ----------------------------------------------------------- */
/* CHIP-8 SCREEN */
/* ----------------------------------------------------------- */
chipScreen {
	/* text-align: left; */
}
#chipScreen {
	display:flex;
	background: black;

}


/* ----------------------------------------------------------- */
/* MEMORY */
/* ----------------------------------------------------------- */
#memoryContainer {
	
}

#memory{
	background: #353434;
	width : 100%;

	/* background-color: black; */
	margin: 0px;
	border: 2px solid #353434;
	padding: 20px;

	font-family: 'Courier New', Courier, monospace;
	color: white;
	text-align: center;
}


/* ----------------------------------------------------------- */
/* TOP BUTTONS (PLAY-PAUSE/RESET) */
/* ----------------------------------------------------------- */
.buttonGroup {
	display: flex;
	align-items: start;
	justify-content: space-between;
	white-space: nowrap;
	background: rgb(26, 25, 25, 0.7);
}

.buttonGroup .button {
	
	background: rgb(26, 25, 25, 0.5);
	border: 1px solid #353434;
	color: white;
	padding: 15px;

	text-align: center;

	display: flex-box;
	cursor: pointer;
}

.buttonGroup button:not(:last-child) {
	border-right: none;
}

input:hover,
button:hover {
	background-color: #525151;
	box-shadow: var(--fg) 0px 0px 10px inset;
}


/* ----------------------------------------------------------- */
/* INPUT */
/* ----------------------------------------------------------- */
input[type="file"] {
	width: 74px;
}

input[type="color"] {
	border: none;
	width: 70px	;
	height: 45px;
}



/* ----------------------------------------------------------- */
/* SPECIAL EFFECTS */
/* ----------------------------------------------------------- */
@keyframes blehh {
	0% { color: red; text-shadow: white 0px 0px 2px; }
	15% { color: orange; text-shadow: violet 0px 0px 2px; }
	30% { color: yellow; text-shadow: indigo 0px 0px 2px; }
	45% { color: green; text-shadow: blue 0px 0px 2px; }
	60% { color: blue; text-shadow: green 0px 0px 2px; }
	75% { color: indigo; text-shadow: yellow 0px 0px 2px; }
	80% { color: violet; text-shadow: orange 0px 0px 2px; }
	95% { color: white; text-shadow: red 0px 0px 2px; }
}

@keyframes blehh2 {
	0% { transform: rotateZ(0deg); }
	100% { transform: rotateZ(360deg); }
}

@keyframes yeet {
	0% {
		transform: translateY(0px) translateX(0px) rotateZ(0deg);
	}

	50% {
		transform: translateY(-10px) translateX(-10px) rotateZ(-1deg);
	}

	100% {
		transform: translateY(0px) translateX(0px) rotateZ(1deg);
	}
}

#logo {
	/* animation: blehh2 0.75s infinite linear; */
	margin-top: 20px;
	margin-bottom: -5px;
	box-shadow: rgb(14, 9, 44) 0px 1px 5px;
	align-self: left;
}

#sound {
	font-family: "Comic Sans MS", "Comic Sans", arial, helvetica, sans-serif;
	position: fixed;
	top: 25px;
	left: 25px;
	display: none;

	background-color: white;
	border: black 3px solid;
	border-radius: 18px;
	padding: 15px;
	box-shadow: #000 3px 3px 8px 1px;
}

#sound.playing {
	display: block;
}

#bleh {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;

	background: rgba(0,0,0,0.3);
	padding: 5px;
	border-top: #000 1px dashed;
	border-bottom: #000 1px dashed;
}

#bleh div {
	animation: blehh 5s infinite;
	animation-direction: alternate;
	text-shadow: #fff 0px 0px 2px;
}
